<div class="text-center header">
   <h2>{{ title }}</h2>
   {% include 'header.html' %}
</div>
   
   <body>
      <br/>
      <div class="container">
      <div class="row header">
         <div class=""><a href="/">Covid19<span> Cases</span></a></div>
             <div class="FAQ">
            <div>
               <h2 class="question">Are you official?</h2>
               <h2 class="answer">No, and this web site data is also not official.</h2>
            </div>
            <div class="">
               <h2 class="question">What are your sources? How is the data gathered for this project?</h2>
               <h2 class="answer">I got data from Google sheet and an API. 
               API is available for all at api.covid19india.org for India and for world <a href="https://documenter.getpostman.com/view/10808728/SzS8rjbc?version=latest#e831c268-9da1-4d86-8b5a-8d7f61910af8" target="_blank> click here</a>. 
               We would love it if you can use this data in the fight against 
               this virus. The source <a href="https://telegra.ph/Covid-19-Sources-03-19">list is here.</a>
               </h2>
            </div>
            <div class="">
               <h2 class="question">Where can I find the data for this?</h2>
               <h2 class="answer">You can preview all the data collected in this page : patientdb.covid19india.org .
                  All the data is available through an API for further analysis and development here : api.covid19india.org and for world data
                  <a href="https://documenter.getpostman.com/view/10808728/SzS8rjbc?version=latest#e831c268-9da1-4d86-8b5a-8d7f61910af8" target="_blank">Click Here</a>
               </h2>
            </div>
            <div class="">
               <h2 class="question">Who are you?</h2>
               <h2 class="answer">My name is Brajendra Shukla and I want to improve my analysis skill during this lockdown. 
                   I have developed this project only for my self and this project is helping me to stay at home </h2>
            </div>
            
         </div>
      </div>
      <footer>
         <div>
            <a href="https://www.covid19india.org/" target="_blank" class="btn btn-info" role="button">Source of India Data</a>
            <a href="https://documenter.getpostman.com/view/10808728/SzS8rjbc?version=latest#e831c268-9da1-4d86-8b5a-8d7f61910af8" target="_blank" class="btn btn-info" role="button">Source of World Data</a>
            <div align="right"> <a href="/download" target="_blank" class="btn btn-info" role="button">Download Latest Files</a></div>
         </div>
      </footer>
   </body>
   
</html>