 
 
 <!--Chat Bot-->
 <div id="dvChatbot">
    <div class="box"></div>
    <div class="boxed">
     
        <div id="chatbox">
          <p class="botText">
            <span>❤️ Hi! I'm COVID-19 ChatBot ❤️ Click Me for Chat ❤️</span>
          </p>
        </div>
        <div id="userInput">
          <div class="form-group">
          <input id="textInput" class="form-control" type="text" name="msg" placeholder="Message" />
        </div>
        </div>
     
     
    </div>
  </div>
<!--End of Chatbot-->

 