<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Files Download</title>
     <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

<center>
   <div>
            <a href="/">Home</a>
            |
            <a href="/Country">Country</a>
            |
            <a href="/state">State</a>
            |
            <a href="/dictrict">Dictrict</a>
         </div>
  </center>
    <div class="container">
        <div class="row">
        <center>
             <b>{{download}}</b>
         </center>
        </div>
    </div>
</body>

</html>