<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corona Grwoth in India</title>
     <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js" ></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
      <link rel="icon" href="/static/img/favicon.png">


      
<script>
   $(document).ready(function(){
      url = window.location.href;
      page = url.split("/")[3]
      $("a").removeClass("active")
      $("#" + page).addClass("active")
   });
  
</script>
      
</head>
   <div class="header">
      <a id="home" href="/" class="active" >Home</a>
      |
      <a id="Country" href="/Country">Country</a>
      |
      <a id="state" href="/state">State</a>
      |
      <a id="dictrict" href="/dictrict">Dictrict</a>
      |
      <a id="world" href="/world">World Cases </a>
      |
      <a id="about" href="/about">About Me </a>
   </div>
<br/>